

.mainContainer {

  height: 500px;
  width: 800px;
  background-color: rgb(214, 211, 211);
  padding: 10px;
  margin-left:  auto;
  margin-right: auto;
}

.colorContainer {
  height: 70px;
  width: 70px;
  border: 1px solid black;
  cursor: pointer;

}
 .titleCon {
   text-align: center;
 }
.inputCon {
  height: 40px;
  width: 180px;
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  text-indent: 5px;
  font-size: 18px;
}
.colorMainContainer {
  display: flex;
  margin: 20px;
  width: 800px;
}
.resultContainer {
  display: grid; 
  /* grid-template-columns: auto auto auto auto auto auto;  */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}

/* .resultContainer li {
  list-style: none;
} */
.colorContainer {
  margin: 5px;
}
.singleColor {
  margin: 10px;
  
}
.common {
  margin-left:  50px;
  margin-right: 50px;
}

.common button {

  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
  outline: none;
}